{% extends "bases/base.html" %}

{% block head %}
    {{ super() }}

    <script type="module">
        import {
            get,
            parseRequestOptionsFromJSON,
        } from "{{ url_for('ui_bp.static', filename='node_modules/@github/webauthn-json/dist/esm/webauthn-json.browser-ponyfill.js') }}";

        async function authenticate() {
            const authentication_options = {"publicKey": {{ authentication_options | safe }}};
            const cro = parseRequestOptionsFromJSON(authentication_options);
            return get(cro); // Prompt the user to authenticate with their physical key
        }

        window.addEventListener("load", () => {
            try {
                authenticate().then((credentials) => {
                    document.getElementById("credential_authentication_options").value = JSON.stringify(credentials);
                    document.getElementById("webauthn_login_form").submit();
                })
            } catch (e) {
                console.error(e);
            }
        });
    </script>
{% endblock %}


{% block content %}
    {{ super() }}
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="well">
            <h1>WebAuthn Authentication</h1>
            <h3>Authentication with your device now</h3>
            <form id="webauthn_login_form" method="post">
                {{ form.csrf_token }}
                {{ form.credential_authentication_options() }}
            </form>
        </div>
    </div>
    <div class="col-lg-3"></div>
{% endblock %}
