{% extends "bases/discussion_base.html" %}


{% block middle_panel %}
    {{ super() }}
    <div class="panel panel-primary">
        <div class="panel-body">
            <ul class="breadcrumb">
                <li><a>discussion</a></li>
                <li class="active"><a href="{{ url_for('.view_saved') }}">saved</a></li>
            </ul>

            <div class="well">
                {% for obj in objects %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            {% if obj.__class__.__name__ == "Comment" %}
                                <!-- obj is Comment -->
                                <a href="{{ url_for('ui_bp.view_thread', topic=obj.thread.topic.name, thread_unique_id=obj.thread.unique_id, slug=obj.thread.slug) }}">{{ obj.body }}</a>
                            {% else %}
                                <!-- obj is Thread -->
                                <a href="{{ url_for('ui_bp.view_thread', topic=obj.topic.name, thread_unique_id=obj.unique_id, slug=obj.slug) }}">{{ obj.title }}</a>
                            {% endif %}
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
