{% extends 'admin/master.html' %}

{% block head %}
    {{ super() }}

    <script>
        function copyToClipboard(field_id) {
            const copyText = document.getElementById(field_id);
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            navigator.clipboard.writeText(copyText.value);
        }

        async function terminalApi(command) {
            return await fetch(
                '{{ BASE_URL }}/api/v1/terminal', {
                    headers: {Authorization: "Bearer {{ current_user.frontend_token.value }}"},
                    method: "POST",
                    body: JSON.stringify({"command": command})
                })
                .then((response) => {return response.json()})
                .then((data) => {return data})
        }

        function executeCommand() {
            let executeBtn = document.getElementById('executeBtn');
            let commandInput = document.getElementById('commandInput');
            const commandText = commandInput.value.trim()
            commandInput.disabled = true;
            executeBtn.disabled = true;
            executeBtn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status"></span>Loading';

            terminalApi(commandText).then((data) => {
                document.getElementById('commandOutput').value = data["output"];
                commandInput.disabled = false;
                commandInput.value = "";
                executeBtn.disabled = false;
                executeBtn.innerHTML = "Execute";
            })
            return false;
        }

        window.addEventListener("load", () => {
            document.getElementById("executeBtn").addEventListener("click", (event) => {
                event.preventDefault();
                executeCommand();
            });
        });
    </script>
{% endblock %}

{% block body %}
    {{ super() }}

    <div class="container pt-3 pb-3" style="background: #1d1d1d">
        <form id="cliForm">
            <div class="mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ current_user.username }}@container:~$</span>
                    </div>
                    <input type="text" class="form-control" id="commandInput" required>
                </div>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="commandOutput" rows="10" disabled></textarea>
            </div>
        </form>
        <button class="btn btn-primary" form="cliForm" id="executeBtn" type="submit">
            Execute
        </button>
        <button class="btn btn-primary" onclick="copyToClipboard('commandOutput')">Copy</button>
    </div>
{% endblock %}
