{% extends "bases/discussion_base.html" %}


{% block middle_panel %}
    {{ super() }}

    <div class="panel panel-primary">
        <div class="panel-body">
            <ul class="breadcrumb">
                <li><a>discussion</a></li>
                <li class="active"><a href="{{ url_for('ui_bp.moderation_home') }}">moderation</a></li>
            </ul>

            <div class="well">
                {% for topic in current_user.discussion.moderator_of %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            {% if topic.is_private %}
                                <a href="{{ url_for('ui_bp.moderation_topic', topic=topic.name) }}">{{ topic.name }} (Private) | {{ topic.description }}</a>
                            {% else %}
                                <a href="{{ url_for('ui_bp.moderation_topic', topic=topic.name) }}">{{ topic.name }} | {{ topic.description }}</a>
                            {% endif %}
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
