{% extends "bases/discussion_base.html" %}


{% block middle_panel %}
    {{ super() }}

    <div class="panel panel-primary">
        <div class="panel-body">
            <ul class="breadcrumb">
                <li><a>discussion</a></li>
                <li><a href="{{ url_for('ui_bp.moderation_home') }}">moderation</a></li>
                <li class="active"><a href="{{ url_for('ui_bp.moderation_topic', topic=topic.name) }}">{{ topic.name }}</a></li>
            </ul>

            <div class="well">
                <h3>Moderation tools for {{ topic.name }}</h3>

                <a href="{{ url_for('ui_bp.moderation_topic_bans', topic=topic.name) }}">Bans</a>
                {% if topic.is_private %}
                    <a href="{{ url_for('ui_bp.moderation_topic_subscribe_requests', topic=topic.name) }}">Subscribe Requests</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
