{% extends "bases/authenticated_base.html" %}


{% block head %}
    {{ super() }}

    <script>
        function copyTokenToClipboard(token_id) {
            const copyText = document.getElementById(token_id);
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            navigator.clipboard.writeText(copyText.value);
        }
    </script>
{% endblock %}


{% block content %}
    {{ super() }}

    <div class="rpgui-content" style="display:flex;justify-content:center;align-items:center;">
        <div class="rpgui-container framed">
            <h1>API Keys</h1>
            {% for api_token in current_user.api_tokens %}
                <div style="display: flex; flex-direction: row; justify-content: right; align-items: center;">
                    <p>{{ api_token.name }}</p>
                    <div style="white-space: nowrap; text-overflow: ellipsis; overflow: scroll;">
                        <input type="text" readonly value="{{ api_token.value }}" id="token_{{ loop.index }}">
                    </div>
                    <button class="rpgui-button" type="button" onclick="copyTokenToClipboard('token_{{ loop.index }}')">Copy</button>

                    <form action="{{ url_for('.delete_api_token') }}" method="post">
                        {{ delete_api_token_form.csrf_token }}
                        <button class="rpgui-button" type="submit" name="id" value="{{ api_token.id }}">Delete</button>
                    </form>
                </div>
            {% endfor %}
            <form action="{{ url_for('.create_api_token') }}" method="post">
                {{ create_api_token_form.csrf_token }}
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                    {{ create_api_token_form.token_name }}
                    <button class="rpgui-button" type="submit">Create API Token</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
