{% extends "base.html" %}


{% block content %}
    {{ super() }}

    <div class="rpgui-container framed" style="position:absolute;top:0;right:0;">
        {% if current_user.is_admin %}
            <button class="rpgui-button" onclick="window.location.href={{ url_for('admin.index') }}">Admin</button>
        {% endif %}

        <form action="{{ url_for('.logout') }}" method="post">
            {{ logout_form.csrf_token }}

            <button class="rpgui-button" type="submit" id="logout" name="logout">Logout</button>
        </form>
    </div>
{% endblock %}
