<link href="{{ url_for('.static', filename='RPGUI-master/dist/rpgui.css') }}" rel="stylesheet" type="text/css" >
<script src="{{ url_for('.static', filename='RPGUI-master/dist/rpgui.js') }}"></script>


<style>
    body{
        background-image: url("{{ url_for('.static', filename='pixel_art_desert_landscape.gif') }}");
        background-size: cover;
        height: 100vh;
        padding:0;
        margin:0;
    }
</style>


<div class="rpgui-content" style="display:flex;justify-content:center;align-items:center;">
<!--    <h1>{{ value|default("Hello world", true) }}</h1>-->

	<div class="rpgui-container framed">
        <input type="text" placeholder="Username" name="uname" required>
        <input type="password" placeholder="Password" name="psw" required>
        <button class="rpgui-button" type="button"><p>Sign in</p></button>
	</div>

	<!-- golden frame, with brown background -->
<!--	<div class="rpgui-container framed-golden">-->
<!--	</div>-->

	<!-- brighter golden frame, with smoother borders -->
<!--	<div class="rpgui-container framed-golden-2">-->
<!--	</div>-->

	<!-- grey frame. this is mostly fitting as internal container inside a "rpgui-container framed" div -->
<!--	<div class="rpgui-container framed-grey">-->
<!--	</div>-->
</div>




<script>
</script>