{% extends "bases/unauthenticated_base.html" %}


{% block content %}
    {{ super() }}

    <div class="rpgui-content" style="display:flex;justify-content:center;align-items:center;">
        <div class="rpgui-container framed">
            <form action="{{ url_for('.login') }}" method="post">
                {{ form.csrf_token }}
                {{ form.username }}
                {{ form.password }}

                <div style="display:flex;justify-content:center;align-items:center;">
                    <button class="rpgui-button" type="submit" id="submit" name="submit">Submit</button>
                </div>

                <div style="display:flex;justify-content:center;align-items:center;">
                    <a href="{{ url_for('.register') }}">Register</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
