{% extends "base.html" %}


{% block head %}
    {{ super() }}

    <script>
        function myFunction(token_id) {
            const copyText = document.getElementById(token_id);
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            navigator.clipboard.writeText(copyText.value);
        }
    </script>
{% endblock %}


{% block content %}
    {% if current_user.is_authenticated %}
        <h1>User: {{ current_user.username }}</h1>
    {% endif %}

    <div class="rpgui-content" style="display:flex;justify-content:center;align-items:center;">
        <div class="rpgui-container framed">
            {% for api_token in current_user.api_tokens %}
                <div style="display: flex; flex-direction: row; justify-content: right; align-items: center;">
                    <p>{{ api_token.name }}</p>
                    <div style="white-space: nowrap; text-overflow: ellipsis; overflow: scroll;">
                        <input type="text" readonly value="{{ api_token.value }}" id="token_{{ loop.index }}">
                    </div>
                    <button class="rpgui-button" type="button" onclick="myFunction('token_{{ loop.index }}')">Copy</button>
                </div>
            {% endfor %}

            <form action="{{ url_for('.generate_api_token') }}" method="post">
                {{ form.csrf_token }}

                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                    {{ form.name }}
                    <button class="rpgui-button" type="submit">Generate API Token</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
