{% extends "bases/authenticated_base.html" %}


{% block content %}
    {{ super() }}

    <div class="rpgui-content" style="display:flex;justify-content:center;align-items:center;">
        <div class="rpgui-container framed">
            <h1>{{ current_user.username }}'s Profile</h1>
            <iframe src="https://giphy.com/embed/6sxhKR7xVtboY" width="356" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/metalocalypse-dethklok-nathan-explosion-6sxhKR7xVtboY">via GIPHY</a></p>
        </div>
    </div>
{% endblock %}
