{% extends "bases/authenticated_base.html" %}


{% block content %}
    {{ super() }}

    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Settings</h3>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" action="{{ url_for('.change_password') }}" method="post">
                    {{ change_password_form.csrf_token }}

                    <fieldset>
                        <legend>Change Password</legend>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="password1">New Password</label>
                            <div class="col-lg-10">
                                {{ change_password_form.password1(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="password2">Repeat Password</label>
                            <div class="col-lg-10">
                                {{ change_password_form.password2(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button class="btn btn-primary" type="submit" id="submit" name="submit">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
{% endblock %}
