{% extends "bases/discussion_base.html" %}
{% from "macros.html" import render_comment, render_thread %}


{% block middle_panel %}
    {{ super() }}
    <div class="panel panel-primary">
        <div class="panel-body">
            <ul class="breadcrumb">
                <li><a>discussion</a></li>
                <li><a href="{{ url_for('ui_bp.view_topics') }}">topics</a></li>
                <li><a href="{{ url_for('ui_bp.view_topic', topic=comment.thread.topic.name) }}">{{ comment.thread.topic.name }}</a></li>
                <li><a href="{{ url_for('ui_bp.view_thread', topic=comment.thread.topic.name, thread_unique_id=comment.thread.unique_id, slug=comment.thread.slug) }}">{{ comment.thread.slug }}</a></li>
                <li class="active">comment</li>
            </ul>

            {{ render_thread(current_user, comment.thread) }}
            {{ render_comment(current_user, comment, create_comment_form) }}
        </div>
    </div>
{% endblock %}
