{% extends "bases/base.html" %}


{% block head %}
    {{ super() }}

    <script>
        function copyTokenToClipboard(token_id) {
            const copyText = document.getElementById(token_id);
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            navigator.clipboard.writeText(copyText.value);
        }

        function toggle_expires_number() {
            const expires_dropdown = document.getElementById("expires_unit");
            let expires_input = document.getElementById("expires_number");
            expires_input.disabled = (expires_dropdown.value === "Never");
        }
    </script>
{% endblock %}


{% block content %}
    {{ super() }}

    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Auth Token Settings</h3>
            </div>

            <div class="panel-body">
                <fieldset>
                    <legend>Auth Tokens</legend>

                    <ul class="list-group">
                        {% for token in current_user.public_auth_tokens %}
                            <li class="list-group-item">
                                <form class="form-horizontal" action="{{ url_for('.delete_auth_token') }}" method="post">
                                    {{ delete_auth_token_form.csrf_token }}

                                    <div class="form-group">
                                        <div class="col-lg-4">
                                            {% if token.humanized_expires_in == "Never" %}
                                                <label class="control-label" for="token_{{ loop.index }}">
                                                    {{ token.name }} ({{ token.humanized_expires_in }} expires)
                                                </label>
                                            {% else %}
                                                <label class="control-label" for="token_{{ loop.index }}" title="{{ token.expires_in }}">
                                                    {{ token.name }} (Expires in {{ token.humanized_expires_in }})
                                                </label>
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-5">
                                            <input class="form-control" type="text" readonly value="{{ token.value }}" id="token_{{ loop.index }}">
                                        </div>
                                        <div class="col-lg-1">
                                            <button class="btn btn-default" onclick="copyTokenToClipboard('token_{{ loop.index }}'); return false;" type="button">Copy</button>
                                        </div>
                                        <div class="col-lg-1">
                                            <button class="btn btn-default" type="submit" name="id" value="{{ token.id }}">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        {% endfor %}

                        <li class="list-group-item">
                            <form class="form-horizontal" action="{{ url_for('.create_auth_token') }}" method="post">
                                {{ create_auth_token_form.csrf_token }}

                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-2 control-label" for="token_name">Name</label>
                                        <div class="col-lg-10">
                                            {{ create_auth_token_form.token_name(class_="form-control") }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label class="col-lg-2 control-label" for="expires_toggle">Expires</label>
                                        <div class="col-lg-4">
                                            {{ create_auth_token_form.expires_number(class_="form-control") }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ create_auth_token_form.expires_unit(class_="form-control", onchange="toggle_expires_number()") }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-offset-2">
                                            <button class="btn btn-primary" type="submit" id="submit" name="submit">Create Token</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
{% endblock %}
