{% extends "bases/base.html" %}


{% block content %}
    {{ super() }}

    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Settings</h3>
            </div>

            <div class="panel-body">
                <fieldset>
                    <legend>User</legend>
                    <form class="form-horizontal" action="{{ url_for('.send_verify_email') }}" method="post">
                        {{ email_form.csrf_token }}
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="email">Email</label>
                            <div class="col-lg-7">
                                {{ email_form.email(class_="form-control", value=current_user.email) }}
                            </div>
                            <div class="col-lg-3">
                                {% if current_user.is_verified %}
                                    <p>VERIFIED</p>
                                {% else %}
                                    <button class="btn btn-primary" type="submit">Verify</button>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" action="{{ url_for('.change_username') }}" method="post">
                        {{ change_username_form.csrf_token }}

                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="username">Username</label>
                            <div class="col-lg-7">
                                {{ change_username_form.username(class_="form-control", value=current_user.username) }}
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                </fieldset>

                <fieldset>
                    <legend>Auth Tokens</legend>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="authTokenSettings">Settings</label>
                            <div class="col-lg-10">
                                <button class="btn btn-primary" id="authTokenSettings" onclick="window.location.href='{{ url_for(".auth_token_settings") }}'">
                                    Manage
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Security</legend>
                    {% if current_user.mfa.totp.enabled %}
                        <form class="form-horizontal" action="{{ url_for('.disable_totp') }}" method="post">
                            {{ totp_disable_form.csrf_token }}
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="totpDisable">Totp</label>
                                <div class="col-lg-10">
                                    {% if current_user.mfa.webauthn.enabled %}
                                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="WebAuthn will be used even though Totp is enabled">
                                            <button class="btn btn-danger" id="totpDisable">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                                  <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
                                                </svg>
                                                Disable
                                            </button>
                                        </span>
                                    {% else %}
                                            <button class="btn btn-danger" id="totpDisable">
                                                Disable
                                            </button>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="totpSetup">Totp</label>
                                <div class="col-lg-10">
                                    <button class="btn btn-primary" id="totpSetup" onclick="window.location.href='{{ url_for(".setup_totp") }}'">
                                        Enable
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if current_user.mfa.webauthn.enabled %}
                        <form class="form-horizontal" action="{{ url_for('.disable_webauthn') }}" method="post">
                            {{ webauthn_disable_form.csrf_token }}
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="webauthnDisable">WebAuthn</label>
                                <div class="col-lg-10">
                                    <button class="btn btn-danger" id="webauthnDisable">Disable</button>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="webauthnSetup">WebAuthn</label>
                                <div class="col-lg-10">
                                    <button class="btn btn-primary" id="webauthnSetup" onclick="window.location.href='{{ url_for(".setup_webauthn") }}'">
                                        Enable
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </fieldset>

                <form class="form-horizontal" action="{{ url_for('.change_password') }}" method="post">
                    {{ change_password_form.csrf_token }}
                    <fieldset>
                        <legend>Change Password</legend>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="password1">New Password</label>
                            <div class="col-lg-10">
                                {{ change_password_form.password1(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="password2">Repeat Password</label>
                            <div class="col-lg-10">
                                {{ change_password_form.password2(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <form class="form-horizontal" action="{{ url_for('.delete_account') }}" method="post">
                    {{ delete_account_form.csrf_token }}
                    <div class="col-lg-12">
                        <button class="btn btn-danger" type="submit">Delete Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
{% endblock %}
