cryptography==41.0.7
email-validator==2.1.0.post1
Flask==3.0.0
flask-admin==1.6.1
flask-jwt-extended==4.6.0
Flask-Limiter==3.5.0
flask-login==0.6.3
flask-mailman==1.0.0
Flask-Migrate==4.0.5
flask-restful==0.3.10
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
GitPython==3.1.41
gunicorn==21.2.0
humanize==4.9.0
ipython
psycopg2-binary==2.9.9  # sqlalchemy does not support psycopg[binary,pool] yet
pyotp==2.9.0
python-decouple==3.8
qrcode==7.4.2
random-username==1.0.2
sqlalchemy-utils==0.41.1
webauthn==2.0.0
