{% extends "bases/discussion_base.html" %}
{% from "macros.html" import render_thread, render_voting %}


{% block middle_panel %}
    {{ super() }}
    <div class="panel panel-primary">
        <div class="panel-body">
            <ul class="breadcrumb">
                <li><a>discussion</a></li>
                <li><a href="{{ url_for('ui_bp.view_topics') }}">topics</a></li>
                <li class="active"><a href="{{ url_for('ui_bp.view_topic', topic=topic.name) }}">{{ topic.name }}</a></li>
                <li><a href="{{ url_for('ui_bp.create_thread', topic=topic.name) }}">[ new thread ]</a></li>
            </ul>

            {% for thread in topic.get_threads() %}
                {{ render_thread(current_user, thread, title_only=True, include_comment_count=True) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block right_panel%}
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="form-horizontal">
                <fieldset>
                    <legend>
                        Information
                        <small>
                            {% if current_user.is_authenticated %}
                                {% if not current_user.discussion.is_subscribed_to(topic) %}
                                    <button class="btn btn-link" style="float: right" onclick="subscribe('{{ url_for('api_discussion_bp.topicsubscribeapi', topic=topic.name) }}', jwt='{{ current_user.frontend_token.value }}');">
                                        Subscribe
                                    </button>
                                {% else %}
                                    <button class="btn btn-link" style="float: right" onclick="unsubscribe('{{ url_for('api_discussion_bp.topicsubscribeapi', topic=topic.name) }}', jwt='{{ current_user.frontend_token.value }}');">
                                        Unsubscribe
                                    </button>
                                {% endif %}
                            {% endif %}
                        </small>
                    </legend>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <p title="{{ topic.created_at }}">Topic Created: {{ topic.humanized_created_at }}</p>
                            <p>Subscribers: {{ topic.subscribers | length }}</p>
                            <p>Threads: {{ topic.threads | length }}</p>
                            <p>Private: {{ topic.is_private }}</p>
                            <p>Moderators:</p>
                            <ul>
                                {% for discussion in topic.moderators %}
                                    <li>
                                        {{ discussion.user.username }}
                                        {% if current_user.is_authenticated and current_user.discussion == discussion %}
                                            <button class="btn btn-link">Moderator Tools</button>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                            <p>Description: {{ topic.description }}</p>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}
