{% extends "bases/discussion_base.html" %}


{% block middle_panel %}
    {{ super() }}
    <div class="panel panel-primary">
        <div class="panel-body">
            <ul class="breadcrumb">
                <li><a>discussion</a></li>
                <li><a href="{{ url_for('.view_topics') }}">topics</a></li>
                <li><a>threads</a></li>
                <li class="active">create</li>
            </ul>

            <div class="well">
                <form class="form-horizontal" action="{{ url_for('.create_thread', topic=topic_name) }}" method="post">
                    {{ form.csrf_token }}

                    <fieldset>
                        <legend>Create Thread</legend>
                        <div class="form-group">
                            <label for="title" class="col-lg-2 control-label">Title</label>
                            <div class="col-lg-10">
                                {{ form.title(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="topic_id" class="col-lg-2 control-label">Topic</label>
                            <div class="col-lg-10">
                                {{ form.topic_id(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="body" class="col-lg-2 control-label">Body</label>
                            <div class="col-lg-10">
                                {{ form.body(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="submit" class="col-lg-2 control-label"></label>
                            <div class="col-lg-10">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
