{% extends "bases/discussion_base.html" %}
{% from "macros.html" import render_comment, render_thread %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.min.css') }}">
    <script type="application/javascript" src="{{ url_for('.static', filename='node_modules/showdown/dist/showdown.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('.static', filename='node_modules/turndown/dist/turndown.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('.static', filename='app.js') }}"></script>
{% endblock %}


{% block middle_panel %}
    {{ super() }}
    <div class="panel panel-primary">
        <div class="panel-body">
            <ul class="breadcrumb">
                <li><a>discussion</a></li>
                <li><a href="{{ url_for('.view_topics') }}">topics</a></li>
                <li><a href="{{ url_for('.view_topic', topic=thread.topic.name) }}">{{ thread.topic.name }}</a></li>
                <li class="active">{{ thread.slug }}</li>
            </ul>

            {{ render_thread(current_user, thread) }}

            <form class="form-horizontal" action="{{ url_for('.create_comment', topic=thread.topic.name, thread_unique_id=thread.unique_id, slug=thread.slug, parent_unique_id=thread.unique_id) }}" method="post">
                {{ create_comment_form.csrf_token }}

                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-12">
                            {{ create_comment_form.body(class_="form-control input-lg") }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button class="btn btn-default" type="submit">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>

            {% for comment in thread.comments %}
                <!-- Only pass top level comments. All responses comments will be rendered recursively in the macro. -->
                {% if not comment.parent %}
                    {{ render_comment(current_user, comment, create_comment_form, thread) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
