{% extends "bases/discussion_base.html" %}


{% macro render_comment(current_user, comment, form, thread) %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                {% if not comment.is_deleted %}
                    {% if current_user.is_authenticated %}
                        <a onclick="upvote(this, url=`{{ url_for('api_discussion_bp.commentvoteapi', unique_id=comment.unique_id) }}`, jwt='{{ current_user.frontend_token.value }}');">
                            {% if comment.is_upvoted_by(current_user.discussion) %}
                                <i class="bi bi-arrow-up-square-fill"></i>
                            {% else %}
                                <i class="bi bi-arrow-up-square"></i>
                            {% endif %}
                        </a>
                        <a onclick="downvote(this, url=`{{ url_for('api_discussion_bp.commentvoteapi', unique_id=comment.unique_id) }}`, jwt='{{ current_user.frontend_token.value }}');">
                            {% if comment.is_downvoted_by(current_user.discussion) %}
                                <i class="bi bi-arrow-down-square-fill"></i>
                            {% else %}
                                <i class="bi bi-arrow-down-square"></i>
                            {% endif %}
                        </a>
                    {% endif %}
                {% endif %}
                <small><a onclick="toggleCommentFolding(this);">[-]</a></small>
                {% if comment.is_deleted %}
                    <small>[removed] - {{ comment.humanized_created_at }}</small>
                {% else %}
                    <small>{{ comment.discussion.user.username }} - {{ comment.humanized_created_at }}</small>
                {% endif %}
            </div>
            <div style="display: block">
                {% if comment.is_deleted %}
                    <p>[removed]</p>
                {% else %}
                    <p id="body-{{ comment.unique_id }}">{{ comment.body }}</p>
                    {% if comment.discussion == current_user.discussion %}
                        <div id="edit-{{ comment.unique_id }}" hidden>
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <textarea class="form-control input-lg" id="editInput-{{ comment.unique_id }}"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <button class="btn btn-default" type="submit" onclick="saveEditComment('{{ comment.unique_id }}', '{{ url_for('api_discussion_bp.commentapi', unique_id=comment.unique_id) }}', jwt='{{ current_user.frontend_token.value }}');">Save</button>
                                        <button class="btn btn-default" type="button" onclick="hideEditCommentFields('{{ comment.unique_id }}')">Cancel</button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    {% endif %}
                    <small><a onclick="showReplyForm(this);">Reply</a></small>
                    <small>
                        {% if current_user.is_authenticated %}
                            {% if comment.is_saved_by(current_user.discussion) %}
                                <a onclick="unsaveCommentOrThread('{{ url_for('api_discussion_bp.commentsaveapi', unique_id=comment.unique_id) }}', jwt='{{ current_user.frontend_token.value }}')">Unsave</a>
                            {% else %}
                                <a onclick="saveCommentOrThread('{{ url_for('api_discussion_bp.commentsaveapi', unique_id=comment.unique_id) }}', jwt='{{ current_user.frontend_token.value }}')">Save</a>
                            {% endif %}
                        {% endif %}
                    </small>
                    {% if comment.discussion == current_user.discussion %}
                        <small><a onclick="showEditCommentFields('{{ comment.unique_id }}');">Edit</a></small>
                        <small><a onclick="deleteCommentOrThread('{{ url_for('api_discussion_bp.commentapi', unique_id=comment.unique_id) }}', jwt='{{ current_user.frontend_token.value }}');">Delete</a></small>
                    {% endif %}
                    <small><a>Report</a></small>

                    <form class="form-horizontal" id="reply" style="display: none" action="{{ url_for('.create_comment', topic=thread.topic.name, thread_unique_id=thread.unique_id, slug=thread.slug, parent_unique_id=comment.unique_id) }}" method="post">
                        {{ create_comment_form.csrf_token }}

                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    {{ create_comment_form.body(class_="form-control") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <button class="btn btn-default" type="submit">Save</button>
                                    <button class="btn btn-default" type="button" onclick="hideReplyForm(this); return false;">Cancel</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                {% endif %}

                {% for response in comment.responses %}
                    {{ render_comment(current_user, response, form, thread) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.min.css') }}">
    <script type="application/javascript" src="{{ url_for('.static', filename='app.js') }}"></script>
{% endblock %}


{% block middle_panel %}
    {{ super() }}
    <div class="panel panel-primary">
        <div class="panel-body">
            <ul class="breadcrumb">
                <li><a>discussion</a></li>
                <li><a href="{{ url_for('.view_topics') }}">topics</a></li>
                <li><a href="{{ url_for('.view_topic', topic=thread.topic.name) }}">{{ thread.topic.name }}</a></li>
                <li class="active">{{ thread.slug }}</li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-heading">
                        <h3>{{ thread.title }}</h3>
                        {% if thread.is_deleted %}
                            <small>Submitted {{ thread.humanized_created_at }} by [removed]</small>
                        {% else %}
                            <small>Submitted {{ thread.humanized_created_at }} by {{ thread.discussion.user.username }}</small>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        {% if thread.is_deleted %}
                            [removed]
                        {% else %}
                            {{ thread.markdown_body | safe }}
                        {% endif %}
                    </div>

                    <small>
                        {% if current_user.is_authenticated %}
                            {% if thread.is_saved_by(current_user.discussion) %}
                                <a onclick="unsaveCommentOrThread('{{ url_for('api_discussion_bp.threadsaveapi', unique_id=thread.unique_id) }}', jwt='{{ current_user.frontend_token.value }}')">Unsave</a>
                            {% else %}
                                <a onclick="saveCommentOrThread('{{ url_for('api_discussion_bp.threadsaveapi', unique_id=thread.unique_id) }}', jwt='{{ current_user.frontend_token.value }}')">Save</a>
                            {% endif %}
                        {% endif %}
                    </small>
                    {% if thread.discussion == current_user.discussion %}
                    <small><a>Edit</a></small>
                        {% if not thread.is_deleted %}
                            <small><a onclick="deleteCommentOrThread('{{ url_for('api_discussion_bp.threadapi', unique_id=thread.unique_id) }}', jwt='{{ current_user.frontend_token.value }}');">Delete</a></small>
                        {% endif %}
                    {% endif %}
                    <small><a>Report</a></small>
                </div>
            </div>

            <form class="form-horizontal" action="{{ url_for('.create_comment', topic=thread.topic.name, thread_unique_id=thread.unique_id, slug=thread.slug, parent_unique_id=thread.unique_id) }}" method="post">
                {{ create_comment_form.csrf_token }}

                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-12">
                            {{ create_comment_form.body(class_="form-control input-lg") }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button class="btn btn-default" type="submit">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>

            {% for comment in thread.comments %}
                <!-- Only pass top level comments. All responses comments will be rendered recursively in the macro. -->
                {% if not comment.parent %}
                    {{ render_comment(current_user, comment, form, thread) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
