{% extends "bases/base.html" %}

{% block head %}
    {{ super() }}

    <script>
        function getGeneratedUsername(username_input_id) {
            const xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                    let usernameInput = document.getElementById(username_input_id);
                    usernameInput.value = JSON.parse(xmlHttp.responseText)['username'];
                }
            }
            xmlHttp.open("GET", "{{ url_for('api_misc_bp.generateusernameapi') }}", true);
            xmlHttp.send(null);
        }
    </script>
{% endblock %}


{% block content %}
    {{ super() }}
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="well">
            <form class="form-horizontal" action="{{ url_for('.register') }}" method="post">
                {{ form.csrf_token }}

                <fieldset>
                    <legend>Register</legend>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="email">Email</label>
                        <div class="col-lg-10">
                            {{ form.email(class_="form-control") }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="username">Username</label>
                        <div class="col-lg-10">
                            <div class="input-group">
                                {{ form.username(class_="form-control") }}
                                <span class="input-group-btn">
                                    <button class="btn btn-default" onclick="getGeneratedUsername('username'); return false;" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dice-2-fill" viewBox="0 0 16 16">
                                            <path d="M0 3a3 3 0 0 1 3-3h10a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3zm5.5 1a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0m6.5 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
                                        </svg>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="password">Password</label>
                        <div class="col-lg-10">
                            {{ form.password(class_="form-control") }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button class="btn btn-primary" type="submit" id="submit" name="submit">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-lg-3"></div>
{% endblock %}
