<!doctype html>
<html>
    <head>
        {% block head %}
            <link href=" https://brobin.github.io/hacker-bootstrap/css/hacker.css " rel="stylesheet">

            <style>
                body{
                    background-image: url("{{ url_for('.static', filename='background.gif') }}");
                    background-size: cover;
                    height: 100vh;
                    padding:0;
                    margin:0;
                }
            </style>

            <title>{% block title %}{% endblock %}ECAZ</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
            {% endblock %}
        </div>
    </body>
</html>
