{% extends "bases/base.html" %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('ui_bp.static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.min.css') }}">
    <script type="application/javascript" src="{{ url_for('ui_bp.static', filename='common.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('ui_bp.static', filename='discussion.js') }}"></script>

    <script>
        window.addEventListener("load", () => {
            // Update URL to include the selected sorting parameter and reload the page
            const sortPostsDropdown = document.getElementById("sorting");
            if (sortPostsDropdown !== null) {
                sortPostsDropdown.addEventListener("change", (e) => {
                    const sorting = e.target.value;
                    const urlParams = new URLSearchParams(window.location.search);
                    urlParams.set('sorting', sorting);
                    window.location.search = urlParams;
                });
            }
        });
    </script>
{% endblock %}


{% block content %}
    {{ super() }}

    <div class="col-lg-3">
        <div style="overflow-y: scroll; height: 90vh">
            {% block left_panel %}
                {% if current_user.is_authenticated %}
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <fieldset>
                                    <legend>Subscriptions</legend>
                                    <ul class="list-group">
                                        {% for topic in current_user.discussion.subscriptions %}
                                            <li class="list-group-item">
                                                {% if topic.is_private %}
                                                    <a href="{{ url_for('ui_bp.view_topic', topic=topic.name) }}">{{ topic.name }} (Private)</a>
                                                {% else %}
                                                    <a href="{{ url_for('ui_bp.view_topic', topic=topic.name) }}">{{ topic.name }}</a>
                                                {% endif %}
                                                <span class="badge">
                                                    <a onclick="unsubscribe('{{ url_for('api_discussion_bp.topicsubscribeapi', topic=topic.name) }}', jwt='{{ current_user.frontend_token.value }}'); return false;">
                                                        Remove
                                                    </a>
                                                </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>

    <div class="col-lg-6">
        <div style="overflow-y: scroll; height: 90vh">
            {% block middle_panel %}
            {% endblock %}
        </div>
    </div>
    <div class="col-lg-3">
        <div style="overflow-y: scroll; height: 90vh">
            {% block right_panel %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
