{% extends "bases/root.html" %}
{% from "macros.html" import messages %}

{% block content %}
    {{ super() }}

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('ui_bp.login') }}">ECAZ</a>
            </div>

            <div id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('ui_bp.login') }}">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {{ messages() }}
{% endblock %}
